
.imoveis-descricao{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  
  }
  .imoveis-descricao > h4 {
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  }
  .imoveis-descricao > h3{
    margin: 0;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  }
  .imoveis-descricao > h5{
    margin: 0;
    
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  }
  .imoveis-descricao > h2{
    margin: 0;
    margin-top: 25px;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  }
  .imoveis-descricao > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
  height: 50px;
  background: #D9D9D9;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  
  }
  .imovel{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .imovel > img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 200px;
    border-radius: 8px;
  }